@font-face {
    font-family: arch;
    src: url(fonts/ArchitectsDaughter-Regular.ttf);
}
*{
    box-sizing: border-box;
    font-family: arch;
}
li{
    display: inline-block;
}
li:hover{
    color: aqua;
}
.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: rgb(199, 199, 199);
    cursor: pointer;
    padding: 10px 15px;
    border: 0px;
    color: white;
}
.dropdown button:hover{
    background-color: rgb(165, 164, 164);
}
.dropdown a{
    display: block;
    background-color: rgb(229, 229, 229);
    text-decoration: none;
}
.dropdown .content{
    position: absolute;
    min-width: 100px;
    display: none;
}
.dropdown:hover .content{
    display: block;
}
