body{
    background-image: url(Images/Untitled\ design.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
}